




body{
     margin: 0;
    font-family:'Barlow', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    position: sticky;
    top:0;
    background-color: white;
    align-items: center;
}

.logo{
    height: 2em;
    fill: #00558F;
}

.page-links{
    list-style: none;
    display: flex;
    flex-direction: row;
   
    color: #00558F;
    
    
}



.page-links li {
    margin-right: 1em;
    text-transform: uppercase;
    font-weight: bold;
}


.page-links li:hover{
    text-decoration: underline;

    cursor: pointer;
}

h1{
    font-size: 5em;
    font-weight: bold;
    margin: 0;
}

.advert-container {
    background-color: rgba(204,74,133);
    color:white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 2em 2em 0em 2em;
    
}

.advert-text{
    flex: 1;
}

.advert-text p{
    line-height: 1.5em;
}

.advert-image{
    flex: 1;
    width: 650px;
}

.advert-button{
    background-color: #00558F;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white
    
    
}

.advert-button:hover{
    background-color: #3377A5;

}
.quick-links{
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-between;
    margin: 4em 16em 2em 16em;
    
}

.ql-card {
    display: flex;
    align-items: flex-end;
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 25px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ql-card:hover{
    cursor: pointer;
}

.ql-card p {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ql-card-1 {
    background-image: url("https://a.storyblok.com/f/94904/2503x1669/a73bdb12db/annual-report-low-res-not-retouched-6.jpg/m/520x520/smart/filters:quality(95)/");
}

.ql-card-2 {
    background-image: url("https://a.storyblok.com/f/94904/1080x1080/93610a238f/18399-greggs-pledge-social-assets-1080x1080.jpg/m/520x520/smart/filters:quality(95)/")
}

.ql-card-2 p,
.ql-card-3 p {
    padding-right: 2.4em;
}

.ql-card-3 {
    background-image: url("https://a.storyblok.com/f/94904/275x275/d55e3ece72/17599-greggs-website-assets-275x275-breakfast.png/m/520x520/smart/filters:quality(95)/")
}

.footnote {
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgba(204,74,133);
    opacity: 0.3;
    border-top-left-radius: 25px;
    padding: 0.5em;
}

.footnote:hover {
    opacity: 1;
    color: #fff;
}