body{
    color: white;
    font-family: sans-serif;
    background-color: black;
    
  }

  h1{
    color:#c90076;
    font-size: 3em;
    text-align: center;
    
  }

  h2 {
    color: #e7e3e3;
  }

  h3{
      color:#ffb6c1;

  }